@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}
html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

section{
    padding: 3.9rem 0;
}

img{
    width: 100%;
    max-width: 100%;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.6rem;
}
.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

/*header code*/
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
}

.nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle{
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.6rem;
    cursor: pointer;
    z-index: 1000;
}

/**The "X" symbol or the x out button*/
.fa-times{
    display: none;
}

.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 900;
    transform: translateX(-100%);
    transition: transform .5s;
}
.nav::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0,0,.8);
    z-index: 875;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times{
    display: block;
}

.open .fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateX(0);
}

.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.nav-item{
    border-bottom: 2px solid rgba(255, 255, 255, .3)
}

.nav-link{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 3px;
    margin-right: 3px;
    transition: color .5s;

}

.nav-link:hover{
    /* color: #ff2c0f*/
    /* Change this color later */
    color: var(--secondary-font-color);
}

/* Hero code*/
.hero{
    width: 100%;
    height: 100vh ;
    background: url("images/tempTacoBackground.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.menu-hero{
    width: 100%;
    height: 80vh ;
    background: url("images/menu-background.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.sub-headline {
    font-size: 5.5rem;
    font-family: Helvetica;
    /* color: #fdf9e0; */
    color: #fff;
    font-weight: 100;
    /*Code below adjusts the Welcome text */
    /* padding-bottom: 38vh; */
    line-height: .7;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeIn .8s forwards;
    animation-delay: .4s;
}

.headline{
    color: #fff;
    font-size: 2.1rem;
    font-family: var(--main-font );
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .4rem;
    margin-right: .4rem;
}

.separator{
     display: flex;
     align-items: center;
     justify-content: center;
}

.line{
    max-width: 9.8rem; 
    height: .25rem;
    background-color: #fff;
    position: relative;
    width: 100%;
}
.line-right::before, .line-left::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
}

.line-right::before{
    border-right-color: #fff;
    right: 0;
}
.line-left::before{
    border-left-color: #fff;
    left: 0;
}
.taco-smile{
    height: 40px;
    width: 40px;
    margin: 0.4rem;
    transform: translateY(-0.6rem);
    /*Code below changes the color of the taco-smile image.*/
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
 
.headline-description h5{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 150;
    text-transform: uppercase;
    transform: translateY(-1.7rem);
}

.btn{
    display:inline-block;
    text-transform: uppercase;
    text-align: center;
}

.order-online-btn{
    font-size: 1.1rem;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    width: 8.6rem;
    height: 2.7rem;
    line-height: 2.35rem;
    transform: translateY(-0.5rem);
    border-radius: .3rem;
    overflow: hidden;
    transition: background .5s;
    
}

.order-online-btn:focus {
    outline: none;
}

.order-online-btn::before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}
.order-online-btn::after{
    content: '';
    display: block;
    position: absolute;
    background: #fff;
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
}

.order-online-btn:hover{
    background: #ff2c0f;
    cursor: pointer;
}
.order-online-btn:hover::before{
   transform: translateX(300px) skewX(-15deg);
   opacity: .6sa;
   transition:ease-in .7s;
}
.order-online-btn:hover::after{
   transform: translateX(300px) skewX(-15deg);
   opacity: 1;
   transition:ease-in .9s;
}

/**Our Story*/
 .about-us-headline{
     text-align: center;
     padding-bottom: 3.0rem;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .about-us-headline h1{
     font-size: 5.3rem;
     letter-spacing: 0.3rem;
     margin-right: 0.3rem;
 }
 .headline-dark{
     color: var(--secondary-font-color);
 }
 .smile-taco-left,.smile-taco-right{
     height: 8rem;
     width: 8rem;
     margin: 1.5rem;
 }
 .smile-taco-left{
     transform: rotate(15deg);
 }
 .smile-taco-right{
     transform: rotate(-15deg);
 }

 .restaurant-info{
     text-align: center ;
 }
 
 .restaurant-description{
     margin-bottom: 3rem;
 }

 .restaurant-description p{
     line-height: 1.6;
     margin-bottom: 1.2rem;
 }

 .body-btn{
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    position: relative;
    transition: color .5s;
 }

.body-btn::before{
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: var(--secondary-font-color);
    transition: background-color .5s;
}

.body-btn:hover,.body-button:focus{
    color: var(--main-font-color-dark);
}

.body-btn:hover::before,.body-btn:focus::before{
    background-color: var(--main-font-color-dark);
}

/*fresh food*/
 .fresh-food{
     background: url(images/food-drink.jpg) center no-repeat;
     background-size: cover;  
 }

 .between{
     min-height: 65vh;
     display: flex;
     align-items: center;
     text-align: center;
 }

 /*Our menu*/
 .image-group{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-gap: 1.5rem;
 }

 .our-menu .restaurant-description{
     padding-top: 5.5rem;
     margin-bottom: 0;
 }

 .delicious-drinks{
    background: url(images/drink-section.jpg)center no-repeat;
    background-size: cover;
 }

footer{
padding: 8.2rem 0;
background-color: #121212;
color: #fff ;
text-align: center;
position: relative;
}
.back-to-top{
    width: 8rem;
    height: 8rem;
    background-color: #121212;
    position: absolute ;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 50%;
}

.back-to-top i{
    display: block;
    color: #fff;
    font-size: 4rem;
    padding: 2rem;
    padding-top: 1.5rem;
}
/* .footer-content{

} */
.footer-content h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem ;
}

.footer-content-about{
    margin-bottom: 5.4rem;
}
.footer-content-about p{
    line-height: 2;
}

.social-icons{
    list-style: none;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.social-icons i{
    font-size: 2.5rem;
    color: #fff;
    padding: .8rem 2rem;
    opacity: 0.7;
    transition: color 0.5s;
}
.social-icons i:hover, .social-icons:focus {
    color: var(--secondary-font-color);
}

/*Media Queries*/
@media screen and (min-width: 980px){
    section{
        padding: 7.9rem;
    }

    .menu-toggle{
        display: none;
    }

    .nav{
        justify-content: space-between;
    }
    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }

    .nav-item{
        margin: 0 2.4rem;
        border: none;
    }

    .nav-item:last-child{
        margin-right: 0;
    }
    nav .logo{
        /* margin-left: -10rem; */
        left: -12rem;
        position: relative;
    }
    .nav-link{
        font-size: 1.4rem;
    }
    .active{
        position: relative;
    }
    .active::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }
    
    .sub-headline{
        font-size: 7rem;
    }

    .first-letter{
        font-size: 8rem;
    }

    .headline{
        font-size: 3.1rem;
        letter-spacing: .8rem;
    }
    
    .line{
        max-width: 14.4rem;
    }

    .hero h5{
        font-size: 1.6rem;
        padding-top: 0.1rem;
    }
    .order-online-btn{
        height: 4.0rem;
        width: 12.1rem;
        font-size: 1.4rem;
        line-height: 3.8rem;

    }
    
    .restaurant-info{
        display: flex;
        align-items: center;
    }
    
    .restaurant-info-img{
        padding-left: 8rem;
    }

    .our-menu .image-group{
        padding-right: 8rem;
    }

    .specials .image-group{
        padding-left: 15rem;
    }

    .smile-taco-left, .smile-taco-right {
        height: 12rem;
        width: 12rem;
        /*Maybe remove the line below*/
        margin: -0rem;
    }
    .specials .smile-taco-left,.specials .smile-taco-right {
        height: 15rem;
        width: 15rem;
        margin: -4rem;
    }
    .restaurant-info > div{
        flex: 1;
    }

    .delicious-drinks .sub-headline{
        
        padding: 1rem;
    }
    .specials .image-group {
        flex: 3;
    }

    .footer-content{
        max-width: 77.5rem;
        margin: auto;
    }

    .footer-content-about{
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }

    .social-media{
        width: 100%;
        max-width: 27.3rem;
        margin: 0;
    }
}

/*Animations*/
@keyframes fadeIn{
    0%{
       transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}